section{
  width: 100vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/images/bluelake.jpg");
}

.card-img-top{
  max-width: 128px;
}

.card, .jumbotron{
  background-color: rgba(255, 165, 0, 0.6);
}

@media (max-width: 767px) {
  section {
    background-image: none;
    background-color: lightgrey;
  }
}
