<section id="contact" data-test="contact-section">
  <div class="container-fluid m-4">
    <h1 class="text-center">Contact Me</h1>
    <fieldset>
      <legend class="text-left col-sm-10 offset-sm-2">Your Info</legend>
      <div class="form-group row">
        <div class="col-sm-12 order-1 order-sm-0">
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="col-sm-8 offset-sm-2 alert alert-danger">
            <div *ngIf="name?.errors.required">
              Name is required.
            </div>
            <div *ngIf="name?.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name?.errors.forbiddenInput">
              Name cannot be name.
            </div>
          </div>
        </div>
        <label for="name" class="col-sm-2 order-0 order-sm-1 control-label text-center text-sm-right">Name</label>
        <div class="col-sm-8 order-2">
          <input [(ngModel)]="emailContent.name" #name="ngModel" id="name" class="form-control" required  minlength="4" appForbiddenInput="name" data-test="contact-name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 order-1 order-sm-0">
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="col-sm-8 offset-sm-2 alert alert-danger">

            <div *ngIf="email?.errors.required">
              Email is required.
            </div>
            <div *ngIf="email?.errors.forbiddenInput">
              Please enter a valid email.
            </div>
          </div>
        </div>
        <label for="email" class="col-sm-2 order-0 order-sm-1 control-label text-center text-sm-right">Email</label>
        <div class="col-sm-8 order-2">
          <input [(ngModel)]="emailContent.email" #email="ngModel" id="email" class="form-control" required appForbiddenInput="^(?![A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4})" data-test="contact-email">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class="text-left col-sm-10 offset-sm-2">Message Info</legend>
      <div class="form-group row">
        <div class="col-sm-12 order-1 order-sm-0">
          <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
               class="col-sm-8 offset-sm-2 alert alert-danger">
            <div *ngIf="subject?.errors.required">
              Subject is required.
            </div>
          </div>
        </div>
        <label for="subject" class="col-sm-2 order-0 order-sm-1 control-label text-center text-sm-right">Subject</label>
        <div class="col-sm-8 order-2">
          <input [(ngModel)]="emailContent.subject" #subject="ngModel" id="subject" class="form-control" required data-test="message-subject">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 order-1 order-sm-0">
          <div *ngIf="message.invalid && (message.dirty || message.touched)"
               class="col-sm-8 offset-sm-2 alert alert-danger">

            <div *ngIf="message?.errors.required">
              Message is required.
            </div>
            <div *ngIf="message?.errors.minlength">
              Please be a little bit more detailed.
            </div>
          </div>
        </div>
        <label for="message" class="col-sm-2 order-0 order-sm-1 control-label text-center text-sm-right">Message</label>
        <div class="col-sm-8 order-2">
          <textarea [(ngModel)]="emailContent.message" #message="ngModel" id="message" class="form-control" required minlength="25" data-test="message-body"></textarea>
        </div>
      </div>
    </fieldset>
    <button [disabled]="name.errors || email.errors || subject.errors || message.errors" type="submit"
            (click)="send(); name.reset(); email.reset(); subject.reset(); message.reset();"
            class="btn btn-success col-sm-4"
            data-test="contact-submit">Send</button>
    <div *ngIf="this.error" class="alert alert-danger notification" role="alert">
      Whoops! Something went terribly wrong :(<br>Please try again later.
    </div>
    <div *ngIf="this.error == null" class="alert alert-success notification" role="alert">
      Thanks for the message.<br>I will be getting back to you soon.
    </div>
  </div>
</section>
