section{
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: orange;
}

.notification {
  position: fixed;
  min-width: 90vw;
  top: 0;
  right: 5vw;
  margin-top: 15px;
}

@media (min-width: 576px){
  .notification{
    min-width: 50vw;
    right: 15px;
  }
}

@media (min-width: 768px){
  .notification{
    min-width: 30vw;
  }
}
