<section class="container-fluid" id="intro" data-test="intro-section">
  <div>
    <h1 class="pt-3">Cory Kleiser</h1>
    <h2>Full Stack Developer | Systems Engineer</h2>
    <p>My goal is to create <i>elegant</i>&nbsp;<strong>code</strong> that is highly <strong>functional</strong></p>
    <ul class="list-unstyled">
      <li>Knowledge is Attainable</li>
      <li>Opportunity is Endless</li>
      <li>Greatness is Achievable</li>
      <li>Settle for Nothing Less</li>
    </ul>
  </div>
</section>
