section{
  width: 100vw;
  height: 100vh;
  min-height: 812px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: orange;
}
