<h1>Here are a few things that I have worked on:</h1>
<dl>
  <dt>Fitness Geek</dt>
  <dd>This is a J2EE application I helped create that will track various fitness information about an individual. Spring, Hibernate, and Twitter's Bootstrap are just some of the core technologies we used. You can check the project retrospective out on youtube.</dd>
  <dt>Tadoo!</dt>
  <dd>Tadoo! This is a simple Angular app that will find places from a user selected category. The places found will be located near the user within a variable radius.</dd>
  <dt>Great Picks</dt>
  <dd>This is a Java app I created that will take a set of user defined stock lists and store them locally. I also used the YahooFinance API to get live stock data for the user to see. You can check the code </dd>
  <dt>Kleiser Audio Player</dt>
  <dd>This is a highly customizable audio player. Using RxJS to handle events and Sass to style I created an audio player that I am able to use for various projects</dd>
  <dt>AaronMichaelMusic.net</dt>
  <dd>This is a website I designed and developed for a singer/songwriter using Sass as my css preprocessor language.</dd>
  <dt>Contact List</dt>
  <dd>This Contact List will store your data locally with pouchDB. Add some contacts and watch it work.</dd>
</dl>
