<section id="work">

  <div class="container-fluid py-5">

    <h1>These are a few things I worked on</h1>

    <div class="row">
      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">Kleiser Audio Player</div>
          <div class="card-body">
            <p class="card-text">This is a highly customizable audio player. Using RxJS to handle events and Sass to style I created an audio player that I am able to use for various projects</p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/audio-player" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">Fitness Geek</div>
          <div class="card-body">
            <p class="card-text">Fitness Geek is a J2EE application I helped create that will track various fitness information about an individual. Spring, Hibernate, and Twitter's Bootstrap are just some of the core technologies we used. You can check the project retrospective out on
            <a href="https://www.youtube.com/watch?v=fgQYBbVolOc" target="_blank">youtube.</a></p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/4045_FitnessGeek" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">Tadoo!</div>
          <div class="card-body">
            <p class="card-text">Tadoo! This is a simple AngularJS app that will find places from a user selected category. The places found will be located near the user within a variable radius.</p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/tadoo" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">Great Picks</div>
          <div class="card-body">
            <p class="card-text">This is a Java app I created that will take a set of user defined stock lists and store them locally. I also used the YahooFinance API to get live stock data for the user to see.</p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/great-picks" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">AaronMichaelMusic.net</div>
          <div class="card-body">
            <p class="card-text">This is a website I designed and developed for a singer/songwriter using Sass as my css preprocessor language.</p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/AaronMichaelArtistPage" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex align-items-stretch py-3">
        <div class="card">
          <div class="card-header">Contact List</div>
          <div class="card-body">
            <p class="card-text">This Contact List will store your data locally with pouchDB.</p>
          </div>
          <div class="card-footer"><a href="https://github.com/CoryKleiser/offline-ready-contact-list" target="_blank" class="btn btn-sm btn-primary btn-center">Check out the code on GitHub</a></div>
        </div>
      </div>
      </div>

  </div>

</section>
